mixin sidebar()
    section.sidebar
        .sidebar__title
            a(href="#") crm
        nav.sidebar__nav
            menu.sidebar__menu
                li.sidebar__item
                    a(href="#")
                        i.fa.fa-tachometer
                        | Dashboard
                li.sidebar__item
                    a(href="#")
                        i.fa.fa-pie-chart
                        | Reports
                li.sidebar__item.sidebar__item--active
                    a(href="#")
                        i.fa.fa-briefcase
                        | Customers
                li.sidebar__item
                    a(href="#")
                        i.fa.fa-calendar
                        | Calendar