// COLORS

$color-white: #fff;
$color-coal: #303841;
$color-gray: #ededed;
$color-plum: #442a9d;
$color-gold: #ffc12d;
$color-text-black: #4f4f4f;
$color-text-gray: #999999;


// FONTS

$font-basic: 'Open Sans', sans-serif;
$font-custom: "MyriadProRegular", sans-serif;